* {
  margin: 0;
}

html, body {
  height: 100%;
  font-family: sans-serif;
  box-sizing: border-box;
}

.header-menu, .header-content, .information-header, .information-wrapper, .quote-container {
  padding-left: 10%;
  padding-right: 10%;
}

/* Page header properties */

.header-container {
  background-color: #1F2937;
}

.header-menu, .header-content {
  display: flex;
  align-items: stretch;
  margin: 0;
  list-style: none;
}

.header-logo {
  margin-right: auto;
}

.header-logo a {
  font: 24px extra-bold;
  font-weight: bolder;
  color: #F9FAF8;
}

.header-link {
  padding-left: 2%;
  padding-right: 2%;
}

.header-link a {
  font-size: 18px;
  color: #E5E7EB;
}

.header-content {
  padding-top: 10%;
  padding-bottom: 10%;
  gap: 5%;
}

.header-text, .header-image {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex: 1;
}

.header-main-text {
  font: 48px extra-bold;
  font-weight: bolder;
  color: #F9FAF8;
}

.header-secondary-text, .header-image {
  font-size: 18px;
  color: #E5E7EB;
}

.header-button {
  background-color: #3882F6;
  font: 18px extra-bold;
  color: #F9FAF8;
  padding: 5px 30px 5px 30px;
  border-radius: 5px;
  border-style: none;
}

.header-image {
  background-color: grey;
  justify-content: center;
}

/* Information section properties */

.information-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 5;
  padding-bottom: 5%;
}

.information-header {
  font: 36px extra-bold;
  color: #1F2937;
  padding: 3%;
}

.information-wrapper {
  display: flex;
  justify-content: space-around;
}

.information-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-basis: 150px;
}

.information-content p {
  text-align: center;
}

.information-image {
  border-color: #3882F6;
  border-style: solid;
  border-radius: 16px;
  height: 150px;
  width: 150px;
}

/* Quote Section properties */

.quote-container {
  background-color: #E5E7EB;
  display: flex;
  flex-wrap: wrap;
  padding-top: 5%;
  padding-bottom: 5%;
  justify-content: flex-end;
}

.quote-text {
  font: 36px light;
  color: #1F2937;
  font-style: italic;
}

.quote-subtext p {
  color: #1F2937;
  font: 24px extra-bold;
  font-weight: bold;
}